{% load bootstrap5 %}
{% load static %}



<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Personal-Website</title>
        {% block style %}{% endblock %}
        <!-- Google fonts-->
    </head>

    <body>
            {% block nav %}
            {% include 'includes/navbar.html' %}
            {% endblock %}

            {% block content %}{% endblock %}

            {% block footer %}
            {% include 'includes/footer.html' %}
            {% endblock %}
    </body>

</html>

