{% extends 'layouts/base.html' %}

{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}



{% block content %}
<section class="content-section" id="introduction">
    <div class="container-lg">
    </div>


    <div class="container-lg">

        <div class="row d-md-flex my-5 py-5 justify-content-center bg-dark text-white text-center border-bottom border-top">
            <h1 class="text-uppercase">Hey! I'm Jacob!</h1>
        </div>

        <div class="row d-md-flex my-5 py-5 justify-content-center bg-light border-bottom border-top">
            <div class="col-md-3 py-3">
                <img src="{% static '/home/images/personal_picture_200_200.png' %}" class="rounded-circle d-block mx-auto img-fluid"
                alt="img-thumbnail" style="border: 3px solid #000;">
            </div>
            <div class="col-md-9 py- px-4 text-uppercase">
                <h2 class="py-1">A software developer based in Warsaw, interested in all kinds of technology</h2>
                <p>
                    <a href="#" class="btn btn-success my-2">About-me</a>
                </p>
            </div>
        </div>
            
    </div>
</section>

<section class="content-section" id="favourite projects">
    <div class="container-lg">
        
        <div class="row d-md-flex my-5 py-5 justify-content-center bg-dark text-white text-center border-bottom border-top">
            <h1 class="text-uppercase">Favourite projects</h1>
        </div>
      
        <div class="row d-md-flex my-5 py-5 justify-content-center bg-light border-bottom border-top">
            <h2 class="text-uppercase text-center">Perlin Noise 3D World Generator</h2>
            <h4 class="text-center">Written in C++</h4>
            <h5><a href="#" class="btn btn-success">Read further</a></h5>
        </div>

        <div class="row d-md-flex my-5 py-5 justify-content-center bg-light border-bottom border-top">
            <h2 class="text-uppercase text-center">Wireless Sensor Network Simulator</h2>
            <h4 class="text-center">Written in Python</h4>
            <h5><a href="#" class="btn btn-success">Read further</a></h5>
        </div>

        <div class="row d-md-flex my-5 py-5 justify-content-center bg-light border-bottom border-top">
            <h2 class="text-uppercase text-center">Django Personal Webpage</h2>
            <h4 class="text-center">Written in Python</h4>
            <h5><a href="#" class="btn btn-success">Read further</a></h5>
        </div>

    </div>

</section>

<section class="content-section" id="contact">
    <div class="container-lg">
        

        <div class="row d-md-flex my-5 py-5 justify-content-center bg-dark text-white text-center border-bottom border-top">
            <h1 class="text-uppercase">Let's talk!</h1>
        </div>

                   
        <div class="row d-md-flex my-5 py-5 justify-content-center bg-light border-bottom border-top">
            <h4 class="text-center">If interested, write an email to me!</h4>
            <h5><a href="#" class="btn btn-success">Contact</a></h5>
        </div>

    </div>
</section>
{% endblock %}
