{% load static %}
{% load bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}


<nav class="navbar navbar-expand-lg sticky-top bg-light d-flex flex-wrap justify-content-right py-3 mb-4 border-bottom">
    <div class="container py-1 mb-2 border-bottom">
        <h1>Hej!</h1>
    </div>
    <div class="container py-1">
        <a class="navbar-brand text-dark d-flex mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none" href="#">Jakub Koterba</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle-Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav nav-pills">
                <li class="nav-item mx-1 mx-lg-2">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item mx-1 mx-lg-2">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item mx-1 mx-lg-2">
                    <a class="nav-link" href="#">Portfolio</a>
                </li>
                <li class="nav-item mx-1 mx-lg-2">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
